@page
@model StudentFileShare6.Areas.Identity.Pages.Account.Manage.UploadedDocumentsModel



@{
    ViewData["Title"] = "UploadedDocuments";
    ViewData["ActivePage"] = ManageNavPages.UploadedDocuments;
   
}

<a href="@Url.Content("/document/UserUploadedDocumentsPage")">Go to your Uploaded Documents</a>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
